{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        FreelanceHub
    </title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Extra CSS for specific pages -->
    {% block extra_head %}{% endblock %}

</head>
<body>

  
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <main>

        {% block content %}
        {% endblock %}

    </main>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>